name: integration-test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        include:
          - ENGINE_IMAGE: registry.gitlab.com/minetest/minetest/server:5.5.0
            MTG_VERSION: "5.5.0"
          - ENGINE_IMAGE: registry.gitlab.com/minetest/minetest/server:5.6.0
            MTG_VERSION: "5.6.0"
          - ENGINE_IMAGE: registry.gitlab.com/minetest/minetest/server:5.7.0
            MTG_VERSION: "5.7.0"
          - ENGINE_IMAGE: ghcr.io/minetest-hosting/minetest-docker:5.8.0
            MTG_VERSION: "5.8.0"
          - ENGINE_IMAGE: ghcr.io/minetest-hosting/minetest-docker:main
            MTG_VERSION: master

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: recursive
    - name: test
      run: docker-compose up --exit-code-from test
